<header>
    <div class="wrapper">
        <lan>
            <a href="{{ site.baseurl }}/">
                <i class="fa fa-github"></i>
                <ti>{{ site.title }}</ti>
                <sub>{{site.brief-intro}}</sub>
            </a>
        </lan>
        <!-- 
        <small>
            <a href="#" id="link" target="_blank"><font color="DeepSkyBlue">Translate to English</font></a>
            <script type="text/javascript">
            window.onload = function(){
                document.getElementById("link").href = "http://translate.google.com/translate?hl=en&sl=zh-CN&tl=en&u=" + window.location.toString();
            }
            </script>
        </small> -->
        <button id="headerMenu" class="menu"><i class="fa fa-bars"></i></button>
        <nav id="headerNav">
            <ul>
                <li>
                    {% if page.url == '/' %}
                    <a class="active" href="{{site.baseurl}}/">
                        {% else %}
                    <a href="{{site.baseurl}}/">
                    {% endif %}
                        <i class="fa fa-home"></i>Home
                    </a>
                </li>

                {% for my_page in site.pages %}
                    {% if my_page.title %}
                    <li>
                        {% if my_page.url == page.url %}
                        <a class="active" href="{{ my_page.url | prepend: site.baseurl }}">
                            {% else %}
                        <a href="{{ my_page.url | prepend: site.baseurl }}">
                        {% endif %}
                            {{my_page.icon}}{{ my_page.title }}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
