#markdown-toc {
    display: none;
}
.page[post] {
    a {
        color: #2684E8;
        &:hover {
            ext-decoration:underline;
            background-color: #f4efeb;
        }
    }
    .label {
        margin-top: 16px;
        overflow: hidden;
        .label-card {
            float: left;
            font-size: 14px;
            margin-right: 15px;
            color: #6b6a6a;
            .point {
                padding: 0 10px;
                color: #bdbdbd;
            }
            i {
                padding-right: 5px;
                color: #6b6a6a;
            }
            a {
                color: #4d4d4d;
                &:hover {
                    color: #2684E8;
                    text-decoration:underline;
                }
            }
        }
    }
    .left {

        h1#post {
            font-size: 28px;
            //color: #2684E8;
            font-weight:bold;
        }

        ul {
            >h2 {
                color: #333;
            }
            li {
                color: #333;
                margin: 0;
            }
        }

        p {
            //font-size: 17px;
            //color: #4d4d4d;
            letter-spacing:1px;
        }
    }
}
@media screen and (max-width: 900px) {
    .page[post] {
        .left {
            font-size: 15px;
            h2 {
                font-size: 24px;
            }
            h3 {
                font-size: 20px;
            }
            h4 {
                font-size: 18px;
            }
            h5 {
                font-size: 16px;
            }
            h6{
                font-size: 15px;
            }
        }
    }
}
