<!DOCTYPE html>
<html id="top">

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  {% include head.html %}

  {% capture header %}{% include header.html %}{% endcapture %}{{ header | strip_newlines }}

  <body>

        {{ content }}

    {% include footer.html %}
    {% include backToTop.html %}
    <script src="{{ " /js/main.js " | prepend: site.baseurl }}" charset="utf-8"></script>
    <script src="{{ " /js/scroll.min.js " | prepend: site.baseurl }}" charset="utf-8"></script>
  </body>

</html>
